

body {
    background-color: sandybrown;
}

body > ul > li > a {
    color: forestgreen
}

body > div > p {
    color: darkblue;
    background-color: whitesmoke;
    max-width: 30%;

}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap
}